html {
  --scrollbarBG: #23192d;
  --thumbBG: #f57576;
}
body {
  min-height: 1vh;
  background-color: rgb(248, 248, 248);
  color: #23192d;
}

h1 {
  font-size: clamp(26px, 6vw, 40px) !important;
  line-height: 1.1 !important;
  font-weight: bold;
}

h2 {
  font-size: clamp(22px, 4vw, 30px) !important;
  line-height: 1.3 !important;
}

/* sidebar */

/* main */
.categories {
  color: #fd0a54;
}

.snippet-container {
  transition: all 0.4s ease-in-out;
}

pre {
  border-radius: 0 0 0.75rem 0.75rem;
}

code {
  display: block;
  min-width: 100%;
  width: 0px;
  overflow: auto; /* Or scroll */
  padding: 20px;
  border-radius: 0.75rem;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
code::-webkit-scrollbar {
  width: 11px;
}

code::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

code::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.hide-snippet {
  display: none;
}

/* list marker color */
ul li::marker {
  color: #fd0a54;
}

/* auto completye overwrites */
.autoComplete_wrapper {
  display: block;
}

.autoComplete_wrapper > input {
  width: 100%;
  color: #23192d !important;
  border-color: #fd0a54;
}

.copy-snippet {
  cursor: pointer;
  background-color: #fd0a54;
  color: white;
  font-size: 0.75rem;
  margin: 0 0.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.copy-snippet:hover {
  background-color: #f57576;
}

.copy-snippet:after {
  content: '';
  background: url('../images/copy_icon.svg') no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  display: inline-block;
}
