 
   html {
    --scrollbarBG: #23192D;
    --thumbBG: #F57576;
  }
  body {
    min-height: 1vh;
    background-color: rgb(248, 248, 248);
    color: #23192D;
  }
  
 
  
  h1 {
    font-size: clamp(36px, 8vw, 50px)!important;
    line-height: 1.1!important;
  }

  h2 {
    font-size: clamp(22px, 4vw, 30px)!important;
    line-height: 1.3!important;

  }

  .categories {
    color: #FD0A54;
  }

  pre{
    border-radius: 0 0 0.75rem 0.75rem ;
  }
  
  code {
    display: block;
    min-width: 100%;
width: 0px;
overflow: auto; /* Or scroll */
    padding: 20px;
    border-radius: 0.75rem;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  code::-webkit-scrollbar {
    width: 11px;
  }

  code::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  
  code::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }